body{
    font-family: 'Dancing Script';
    background-color: #02010a;
    text-align: center;
}
div.contenido{
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
header{
    background-color: #5b7989;
    width: 100%;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-flow: row wrap;
}
#nombsitio{
    padding-left: 15px;
    color: #FFFFFF;
    vertical-align: middle;
    text-align: left;
    text-shadow: 2px 2px #02010a;
    width: 50%;
}
nav {
    text-align: right;
    width: 48%;
}
ul{
    padding-right: 15px;
}
li{
    display: inline;
}
a{
    color: #FFFFFF;
}
a.linkactive{
    text-decoration: none;
}
a.email{
    color: #000000;
}
div.imgs{
    background-color: #82c3a6;
    text-align: center;
}
img.images{
    border: 2px;
    box-shadow: 2px 2px 0px 0px #02010a;
    background-color: #d5c75f;
    margin: 15px;
}
#imgenlace{
    display: flex;
    flex-flow: row nowrap;
    background-color: #d5c75f;
}
#imgenlace > a{
    color: #000000;
}
h3{
    margin-top:0px;
}
#img2,#img3{
    border:1px solid black;
}
#img2:hover{
    transform: rotate(10deg);
    border: 2px solid black;
    box-shadow: 2px 2px 0px 0px #82c3a6;
}
#img3:hover{
    transform:translate(20px,-5px);
    border: 2px solid black;
    box-shadow: 2px 2px 0px 0px #C6d5c5;
}
footer{
    clear: both;
    background-color: #C6d5c5;
    width: 900px;
    height: auto;
    border-radius: 0px 0px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
}
#contacto, #termino, #redsoc, #derechos{
    flex-grow: 1;
    margin-top: 5px;
    vertical-align: middle;
    text-align: left;
}
#contacto{
    text-align: left;
    padding-left: 15px;
}
span{
    font-size: 25px;
    font-weight: bold;
}
@media all and (max-width: 899px) {
    header{
        flex-flow: column;
        height:auto;
    }
    #imgenlace{
        flex-flow: column;
    }
    #img2, #img3 {
        -webkit-order: 0;
                order: 0;
    }
    #img1, #img2, #img3 {
        min-height: auto;
        max-height: auto;
        max-width: 90%;
        min-width: 90%;
    }
    #nombsitio {
        min-height: auto;
        max-height: auto;
        max-width: 100%;
        min-width: 100%;
    }
    nav {
        min-height: auto;
        max-height: auto;
        max-width: 100%;
        min-width: 100%;
    }
    div.contenido,footer{
        max-width: 100%;
    }
    footer{
        flex-flow: column;
        height: auto;
    }
    #nombsitio, nav, #contacto, #termino, #redsoc, #derechos{
        text-align: center;
    }
}
@media (min-width: 900px) {
    div.contenido,footer{
        max-width: 900px;
    }
    #img2, #img3 {
        min-height: auto;
        max-height: auto;
        max-width: 90%;
        min-width: 90%;
    }
}
